<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Cryptop</title>

  <!-- slider stylesheet -->
  <!-- slider stylesheet -->
  <!-- <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" /> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css')}}">

  <!-- bootstrap core css -->
  <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.css" /> -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css')}}">


  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <!-- <link href="css/style.css" rel="stylesheet" /> -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">

  <!-- responsive style -->
  <!-- <link href="css/responsive.css" rel="stylesheet" /> -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/responsive.css')}}">

</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
         <header class="header_section">
            <div class="container-fluid">
              <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="">
                <form>
                  <button type="submit" formaction="/" style="background-color: transparent; border: none;">
                   <span>
                     Cryptop
                   </span>
                  </button>
                </form>
              </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
      
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                    <ul class="navbar-nav  ">
                      <li class="nav-item ">
                        <a class="nav-link" href="">
                                        <form>
                                          <button type="submit" formaction="/" style="background-color: transparent; border: none; color: white;">
                                            Home <span class="sr-only"></span>
                                          </button>
                                        </form>
                          </a>
                      </li>
                      <li class="nav-item">
                            <a class="nav-link" href="">
                                        <form>
                                          <button type="submit" formaction="/attendencehome" style="background-color: transparent; border: none; color: white;">
                                            Attendence <span class="sr-only"></span>
                                          </button>
                                        </form>
                                      </a>
                      </li>
                      <li class="nav-item">
                            <a class="nav-link" href="">
                                        <form>
                                          <button type="submit" formaction="/payrollhome" style="background-color: transparent; border: none; color: white;">
                                            Payroll <span class="sr-only"></span>
                                          </button>
                                        </form>
                                      </a> 
                      </li>
                      <li class="nav-item">
                            <a class="nav-link" href="">
                              <form>
                                <button type="submit" formaction="/positionhome" style="background-color: transparent; border: none; color: white;">
                                  Position <span class="sr-only"></span>
                                </button>
                              </form>
                            </a>
                      </li>
                      <li class="nav-item active">
                              <a class="nav-link" href="">
                                    <form>
                                      <button type="submit" formaction="/about" style="background-color: transparent; border: none; color: white;">
                                        About <span class="sr-only"></span>
                                      </button>
                                    </form>
                                  </a>
                      </li>
                    </ul>
                    <div class="user_option">
                      <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                        <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                      </form>
                    </div>
                  </div>
                </div>
              </nav>
            </div>
          </header>
        <!-- end header section -->
    <!-- end header section -->
  </div>

  <!-- about section -->

  <section id="tm-section-2" class="tm-section tm-section-carousel">
    <h1>Update Successful</h1>
    <form id="update-form">
        <table>
          <tr>
            <td>Employee Name:</td>
            <td>{{ name }}</td>
          </tr>
          <tr>
            <td>Contact:</td>
            <td>{{ contact }}</td>
          </tr>
          <tr>
            <td>Email:</td>
            <td>{{ email }}</td>
          </tr>
          <tr>
            <td>Position:</td>
            <td>{{ position }}</td>
          </tr>
          <tr>
            <td>Payscale:</td>
            <td>{{ payscale }}</td>
          </tr>
          <tr>
            <td>hiredDate:</td>
            <td>{{ hiredDate }}</td>
          </tr>
          <tr>
            <td>Image URL:</td>
            <td><img src= "{{ image_url }}" alt="aaaa" width="250" height="350">
          </tr>
        </table>
        <br>
      </form>
      
</section> 
  <!-- end about section -->

  <!-- info section -->
  <section class="info_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_contact">
            <div class="info_logo">
              <a class="navbar-brand" href="">
                <form>
                  <button type="submit" formaction="/" style="background-color: transparent; border: none;">
                   <span>
                     Cryptop
                   </span>
                  </button>
                </form>
              </a>
            </div>
            <h5>
              Contact Us
            </h5>
            <div>
              <div class="img-box">
                <!-- <img src="images/location.png" width="18px" alt="" /> -->
                <img src="{{ url_for('static', filename='images/location.png')}}" width="18px" alt="" >
              </div>
              <p>
                Page when looking at its layou
              </p>
            </div>
            <div>
              <div class="img-box">
                <!-- <img src="images/phone.png" width="18px" alt="" /> -->
                <img src="{{ url_for('static', filename='images/phone.png')}}" width="18px" alt="" >
              </div>
              <p>
                +01 1234567890
              </p>
            </div>
            <div>
              <div class="img-box">
                <!-- <img src="images/envelope.png" width="18px" alt="" /> -->
                <img src="{{ url_for('static', filename='images/envelope.png')}}" width="18px" alt="" >
              </div>
              <p>
                demo@gmail.com
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_info">
            <h5>
              Invest Money
            </h5>
            <p>
              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
              in some form, by injected humour,
            </p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="info_links">
            <h5>
              Useful Links
            </h5>
            <ul>
              <li>
                <a href="">
                  There are many
                </a>
              </li>
              <li>
                <a href="">
                  variations of
                </a>
              </li>
              <li>
                <a href="">
                  passages of
                </a>
              </li>
              <li>
                <a href="">
                  Lorem Ipsum
                </a>
              </li>
              <li>
                <a href="">
                  available, but the
                </a>
              </li>
              <li>
                <a href="">
                  majority have
                </a>
              </li>
              <li>
                <a href="">
                  suffered
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_form ">
            <h5>
              Newsletter
            </h5>
            <form action="">
              <input type="email" placeholder="Enter your email" />
              <button>
                Subscribe
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->

  <!-- footer section -->
 <section class="container-fluid footer_section">
        <p>
            &copy; 2023 All Rights Reserved By Cryptop
        </p>
    </section>
  <!-- footer section -->

  <!-- <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script> -->
  <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.js')}}"></script>
  <script src="{{ url_for('static', filename='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js')}}"></script>
  <!-- owl carousel script 
    -->
  <script type="text/javascript">
    $(".owl-carousel").owlCarousel({
      loop: true,
      margin: 0,
      navText: [],
      center: true,
      autoplay: true,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 1
        },
        1000: {
          items: 3
        }
      }
    });
  </script>
  <!-- end owl carousel script -->
</body>
<style>
    /* Form */
    form#update-form {
      display: flex;
      flex-wrap: wrap;
      max-width: 800px;
      margin: 0 auto;
    }
    
    /* Left column */
    form#update-form .left-column {
      flex: 1;
      padding-right: 20px;
    }
    
    /* Right column */
    form#update-form .right-column {
      flex: 1;
      padding-left: 20px;
    }
    
    /* Labels */
    form#update-form label {
      display: block;
      width: 100%;
      font-weight: bold;
      margin-bottom: 10px;
    }
    
    /* Inputs */
    form#update-form input[type="text"],
    form#update-form input[type="number"],
    form#update-form input[type="date"],
    form#update-form input[type="file"],
    form#update-form select {
      width: 100%;
      padding: 6px 12px;
      margin-bottom: 20px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    
    /* Submit Button */
    form#update-form button[type="submit"] {
      width: auto;
      padding: 6px 20px;
      margin-top: 35px;
      margin-left: 35px;
      background-color: #009688;
      color: #fff;
      font-size: 18px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    form#update-form button[type="submit"]:hover {
      background-color: #00796b;
    }
  </style>
</html>
