<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DevFolio - Developer Portfolio Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">
    
    
  <title>Cryptop</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

  <!-- slider stylesheet -->
  <!-- slider stylesheet -->
  <!-- <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" /> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css')}}">

  <!-- bootstrap core css -->
  <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.css" /> -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css')}}">


  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <!-- <link href="css/style.css" rel="stylesheet" /> -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">

  <!-- responsive style -->
  <!-- <link href="css/responsive.css" rel="stylesheet" /> -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/responsive.css')}}">
  <!-- Favicon -->
     <link rel="icon" href="{{ url_for('static', filename='lxh/img/favicon.ico')}}">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- CSS Libraries -->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lxh/lib/animate/animate.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lxh/lib/owlcarousel/assets/owl.carousel.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lxh/lib/lightbox/css/lightbox.min.css')}}">
    
    <!-- Template Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lxh/css/style.css')}}">
    
    
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="51">
    <!-- Hero Start -->
    <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="">
                        <form>
                          <button type="submit" formaction="/">
                           <span>
                             Cryptop
                           </span>
                          </button>
                        </form>
                      </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item ">
                 <a class="nav-link" href="">
                                        <form>
                                          <button type="submit" formaction="/">
                                            Home <span class="sr-only"></span>
                                          </button>
                                        </form>
                                      </a>
                                      <a class="nav-link" href="">
                                        <form>
                                          <button type="submit" formaction="/attendencehome">
                                            Attendence <span class="sr-only"></span>
                                          </button>
                                        </form>
                                      </a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="">
                                        <form>
                                          <button type="submit" formaction="/payrollhome">
                                            Payroll <span class="sr-only"></span>
                                          </button>
                                        </form>
                                      </a>
                                  <a class="nav-link" href="">
                                        <form>
                                          <button type="submit" formaction="/about">
                                            About <span class="sr-only"></span>
                                          </button>
                                        </form>
                                      </a>
                </li>
              </ul>
              <div class="user_option">
                <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                  <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                </form>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>
  
    <div class="hero" id="home">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-12 col-md-6">
                    <div class="hero-content">
                        <div class="hero-text">
                            <p>Hi, I'm </p>
                            <h1>Lim Xie Hien</h1>
                            <h2></h2>
                            <div class="typed-text">Web Designer, Web Developer, Front End Developer, Apps Designer,
                                Apps Developer</div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-12 col-md-6 d-none d-md-block">
                    <div class="hero-image">
                        <img src="{{ url_for('static', filename='lxh/img/xh.png')}}" class="about-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- About Start -->
    <div class="about wow fadeInUp" data-wow-delay="0.1s" id="about">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-content">
                        <div class="section-header text-left">
                            <p>Learn About Me</p>
                            <h2>10 Years Experience</h2>
                        </div>
                        <div class="about-text">
                            <p style="text-align: justify;">
                                Over the past 10 years, web design has evolved significantly, with a greater emphasis on
                                responsive design, user experience, and accessibility. Web designers have adopted new
                                technologies, such as CSS Grid and Flexbox, and have focused on creating designs that prioritize
                                speed, usability, and simplicity. Overall, web design has become more
                                user-centered, data-driven, and focused on delivering engaging and meaningful
                                experiences for users.
                            </p>
                        </div>
                        <div class="skills">
                            <div class="skill-name">
                                <p>Web Design</p>
                                <p>85%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                            <div class="skill-name">
                                <p>Web Development</p>
                                <p>95%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                            <div class="skill-name">
                                <p>Apps Design</p>
                                <p>90%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                            <div class="skill-name">
                                <p>Apps Development</p>
                                <p>85%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>
                        <a class="btn" href="">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Service Start -->
    <div class="service" id="service">
        <div class="container">
            <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                <p>What I do</p>
                <h2>Awesome Quality Services</h2>
            </div>
            <div class="row">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.0s">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="fa fa-laptop"></i>
                        </div>
                        <div class="service-text">
                            <h3>Web Design</h3>
                            <p>
                                Create a website's information architecture, navigation structure, and overall user
                                experience.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="fa fa-laptop-code"></i>
                        </div>
                        <div class="service-text">
                            <h3>Web Development</h3>
                            <p>
                                Create a website that is fast, secure, scalable, and easy to use, and that delivers a
                                great user experience
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="fab fa-android"></i>
                        </div>
                        <div class="service-text">
                            <h3>Apps Design</h3>
                            <p>
                                Create a functional and user-friendly application that meets the needs of its users and
                                delivers a great user experience.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="fab fa-apple"></i>
                        </div>
                        <div class="service-text">
                            <h3>Apps Development</h3>
                            <p>
                                Design the layout, color scheme, typography, graphics, and user interface of an
                                application to create an appealing and user-friendly experience for the application's
                                users.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Experience Start -->
    <div class="experience" id="experience">
        <div class="container">
            <header class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                <p>My Resume</p>
                <h2>Working Experience</h2>
            </header>
            <div class="timeline">
                <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                    <div class="timeline-text">
                        <div class="timeline-date">2002 - 2006</div>
                        <h2>App Developer</h2>
                        <h4>Cupertino, CA 95014, U.S.A</h4>
                        <p>
                            Working in Apple Inc. as an App Developer
                        </p>
                    </div>
                </div>
                <div class="timeline-item right wow slideInRight" data-wow-delay="0.1s">
                    <div class="timeline-text">
                        <div class="timeline-date">2008 - 2010</div>
                        <h2>App Designer</h2>
                        <h4>Redmond, Washington, U.S. </h4>
                        <p>
                            Working in Microsoft Corporation as an App Designer
                        </p>
                    </div>
                </div>
                <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                    <div class="timeline-text">
                        <div class="timeline-date">2013 - 2017</div>
                        <h2>Web Developer</h2>
                        <h4>Setapak, Kuala Lumpur, MY</h4>
                        <p>
                            Working in TARC as a Web Developer
                        </p>
                    </div>
                </div>
                <div class="timeline-item right wow slideInRight" data-wow-delay="0.1s">
                    <div class="timeline-text">
                        <div class="timeline-date">2019 - now</div>
                        <h2>Web Designer</h2>
                        <h4>Batu Caves, Selangor, MY</h4>
                        <p>
                            Wroking in TARUMT as a Web Designer
                        </p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <section class="info_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_contact">
            <div class="info_logo">
              <a class="nav-link" href="">
                        <form>
                          <button type="submit" formaction="/">
                            Cryptop <span class="sr-only"></span>
                          </button>
                        </form>
                      </a>
            </div>
            <h5>
              Contact Us
            </h5>
            <div>
              <div class="img-box">
                <!-- <img src="images/location.png" width="18px" alt="" /> -->
                <img src="{{ url_for('static', filename='images/location.png')}}" width="18px" alt="" >
              </div>
              <p>
                Page when looking at its layou
              </p>
            </div>
            <div>
              <div class="img-box">
                <!-- <img src="images/phone.png" width="18px" alt="" /> -->
                <img src="{{ url_for('static', filename='images/phone.png')}}" width="18px" alt="" >
              </div>
              <p>
                +01 1234567890
              </p>
            </div>
            <div>
              <div class="img-box">
                <!-- <img src="images/envelope.png" width="18px" alt="" /> -->
                <img src="{{ url_for('static', filename='images/envelope.png')}}" width="18px" alt="" >
              </div>
              <p>
                demo@gmail.com
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_info">
            <h5>
              Invest Money
            </h5>
            <p>
              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
              in some form, by injected humour,
            </p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="info_links">
            <h5>
              Useful Links
            </h5>
            <ul>
              <li>
                <a href="">
                  There are many
                </a>
              </li>
              <li>
                <a href="">
                  variations of
                </a>
              </li>
              <li>
                <a href="">
                  passages of
                </a>
              </li>
              <li>
                <a href="">
                  Lorem Ipsum
                </a>
              </li>
              <li>
                <a href="">
                  available, but the
                </a>
              </li>
              <li>
                <a href="">
                  majority have
                </a>
              </li>
              <li>
                <a href="">
                  suffered
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_form ">
            <h5>
              Newsletter
            </h5>
            <form action="">
              <input type="email" placeholder="Enter your email" />
              <button>
                Subscribe
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->

  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      &copy; 2019 All Rights Reserved By
      <a class="nav-link" href="">
                        <form>
                          <button type="submit" formaction="/">
                            Cryptop <span class="sr-only"></span>
                          </button>
                        </form>
                      </a>
    </p>
  </section>
    <!-- Job Experience End -->
    <!-- Pre Loader -->

    <!-- JavaScript Libraries -->
    
    <script src="{{ url_for('static', filename='https://code.jquery.com/jquery-3.4.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename='lxh/lib/easing/easing.min.js')}}"></script>
    <script src="{{ url_for('static', filename='lxh/lib/wow/wow.min.js')}}"></script>
    <script src="{{ url_for('static', filename='lxh/lib/waypoints/waypoints.min.js')}}"></script>
    <script src="{{ url_for('static', filename='lxh/lib/typed/typed.min.js')}}"></script>
    <script src="{{ url_for('static', filename='lxh/lib/owlcarousel/owl.carousel.min.js')}}"></script>
    <script src="{{ url_for('static', filename='lxh/lib/isotope/isotope.pkgd.min.js')}}"></script>
    <script src="{{ url_for('static', filename='lxh/lib/lightbox/js/lightbox.min.js')}}"></script>
    <script src="{{ url_for('static', filename='lxh/mail/jqBootstrapValidation.min.js')}}"></script>
    <script src="{{ url_for('static', filename='lxh/mail/contact.js')}}"></script>
    <script src="{{ url_for('static', filename='lxh/js/main.js')}}"></script>
</body>

</html>
